/**
  * A collection of CSS styles that I use almost every single time
  */

* { box-sizing: border-box; }

$main-color: #fff;
$main-inverse: #000;

$secondary-color: #bada55;
$secondary-inverse: #fff;

html {
    font-family: "sans-serif";
}

/**
 * Generic layout
 */
header {
    nav ul {
        display: flex;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
            padding: 0.5em;
            background-color: $secondary-color;
            a {
                text-decoration: none;
                cursor: pointer;
                color: $secondary-inverse;

                &:hover { font-weight: 700; }
            }
        }
    }
}

.alert {
    position: fixed;
    top: 0;
    width: 100%;
    text-align: center;
    padding: 1em;
    z-index: 99999999;
    border-radius: 0 0 0.5em 0.5em;
    font-size: 1.5em;
    
    &.alert-info {
        background-color: #00cc00;
        color: #fff;
    }
}
/**
 * Useful common classes
 */
.details {
    font-size: 0.8em;
}
